*.la
*.lo
*.log
*.o
*.trs
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/probe
/swizzle
/test-driver
Makefile
Makefile.in
